@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-dark;
}

h1,
h2,
h3,
p {
  @apply text-white;
}

h1 {
  @apply text-lg;
  @apply font-semibold;
}

a {
  @apply text-blue-400;
  @apply hover:underline;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  display: block;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  display: block;
}
